@media (max-width:1280px) {
    #heading2 {
        text-align: center;
        width: 500px;
    }

    #email {
        width: 300px;
        height: 50px;
    }

    #email::placeholder {
        top: 14px;
    }

    #e-submit {
        height: 48px;
        width: 165px;
        font-size: 1.2rem;
        padding: 0px 30px 0px 0px;
    }

    #next_icon {
        top: 24%;
    }

    #heading1 {
        font-size: 3rem;
        width: 600px;
    }
  #movie
  {
    width: 90%;
  }
   .films img
   {
    width: 160px;
    height: auto;

   }
   #more-reason
   {
    width: 90%;
   }
   #more-container
 {
    height: auto;
    flex-wrap: wrap;
 }
 .more-box
 {
    height: 235px;
    width: 48%;
 }
}
@media (max-width:1200px) 
{
    #main ,#back-box
    {
        height: 700px;
    }
    
 
}
@media (max-width:1030px) 
{

   .films img
   {
    width: 128px;
    height: auto;

   }
}
@media (max-width:960px)
{
    .movie-selection {
        flex-direction: column;
        width: 100%;
    }
    .select-trend {
        width: 100%;
        display: block;
    
    }
    #down-show {

        left: 90%;
    }

    #down-movie {
        left: 90%;
    }
    #more-reason
    {
        width: 95%;
    }
    .more-box 
    {height: 195px;
     width: 100%;
    }

}
@media (max-width:850px) 
{
    #image-slider
    { 
        gap: 20px;
        width: 529px;
        height: 199px;
    }
   .films img
   {
    width: 110px;
    height: auto;

   }

}
@media (max-width:720px) 
{

   .films img
   {
    width: 90px;
    height: auto;

   }

}
@media (max-width:650px) {
    #main {
        height: 700px;
    }

    #back-box {
        height:700px;
    }
    #logo {
        height: 20px;
    }

    #heading1 {
        font-size: 2.5rem;
        width: 400px;
    }

    #heading2 {
        text-align: center;
        font-size: 0.8rem;
        width: 372px;
    }

    #em-submit {
        flex-direction: column;
    }
   .films img
   {
    width: 75px;
    height: auto;

   }
   #movie {
    height: 350px;
    width: 100%;
}

#trend-now {
    margin-left: 20px;
}
}
@media (max-width:560px)
{
    .more-box h2
    {
        font-size: 1.2rem;
    }
    .more-box p
    {
        font-size: 0.7rem;
    }
    .more-box {
        height: 200px;
    }
}
@media (max-width:500px) {
    #main {
        height: 500px;
    }

    #back-box {
        height:500px;
    }
    #heading1 {
        font-size: 1.8rem;
        width: 320px;

    }

    #heading2 {
        width: 300px;
    }

    #language-select {
        width: 55px;
        display: block;
    }

    #down {
        left: 36px;
    }

    #started {
        height: 330px;
        margin: 0;
    }

    #next_icon {
        top: 20%;
    }
    #movie
    {
        margin-top: 60px !important;
    }
    #image-slider
    { 
        gap: 20px;
        width: 322px;
        height: 110px;
    }
   .films img
   {
    width: 60px;
    height: 80px;

   }
   .more-box img
   {
    height: 60px;
    width: 60px;
   }
}
@media (max-width:380px)
{
 
  
    #movie
    {
        margin-top: 70px !important;
    }

}
